/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.fes-wrapper{margin: 1em 0;padding: 0;clear: both;
  list-style: none;
  display: block;
  width: 100%;
}
.fes-wrapper > li  {
  width: 31%;
  float: left;
  margin: 0 1% 2em;
  background: #ededed;
}

.fes-wrapper > li > a{
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #1974BB;
  padding: 0.8em 5em;
  margin: 0 0 1em;
  display: block;
  background: #1974BB;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
.fes-wrapper .children{ display: flex;list-style: none;
  flex-direction:column;
  justify-content: space-between;
  margin:.5em 0;padding: 0;font-size: 13px}
.fes-wrapper .children > li > .children{margin-left: 1em}
.fes-excerpt{clear: both;font-style: italic;color: #888;}
.fes-wrapper .children a{text-decoration: none;
  margin: 0;
  padding: 0 0 0 1.5em;color: #272727
}
.fes-wrapper .children a::before{content:"- ";display: inline-block;margin:0 .5em 0 0;color:#2B2F31;}